.heading {
    background-color: blue;
    color: white;
    font-size: xx-large;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 5px 0 5px 0;
}

.rules{
    background-color: blue;
    color: white;
    font-size: large;
   }

.game {
      
}

