.heading {
    background-color: blue;
    color: white;
    font-size: xx-large;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 5px 0 5px 0;
}

.rules{
    background-color: white;
    color: blue;
    font-size: large;
   }

.game 

table.grid {
    display: flex;
    } 

th {
        color: blue;
    }
  
td, tr {
    color: grey;
    border: 1px solid blue;
    margin: 0;
    padding:0;
    width: 40px;
    height: 40px;
    text-align: center;
}


    td.hit {
        background-color: red;
    }

    .carrier {
        width: 200px;
        height: 40px;
        background-color: darksalmon;
        }

    .battleship {
        width: 160px;
        height: 40px;
        background-color: deeppink;
    }

    .cruiser {
        width: 120px;
        height: 40px;
        background-color: green;
    }
    
    .submarine{
        width: 120px;
        height: 40px;
        background-color: greenyellow;
    }

    .destroyer {
        width: 80px;
        height: 40px;
        background-color: palegreen;
    }

     #destroyer, #submarine, #cruiser, #battleship, #carrier {
      width: 40px;
      height: 40px;
      display: flex;
      background-color: purple;
      border: 1px solid black;
    }



