.heading {
    background-color: blue;
    color: white;
    font-size: xx-large;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 5px 0 5px 0;
}

.rules{
    background-color: white;
    color: blue;
    font-size: large;
   }

.game 

table { 
    width: 50%;
    display: inline;
}      
 table, td, tr {
    border: 4px solid blue;
    padding: 4px;
    background-color: white;
    color: blue;   
}

td, tr {
    border: 1px solid blue;
    color:  lightgray;
    }

    th {
        color: blue;
    }

    